/* .mdx-content span a,
.mdx-content ul li a,
.mdx-content ol li a,
.mdx-content table a {
  border-bottom: none !important;
  text-decoration: underline !important;
}

.mdx-content span a:hover,
.mdx-content ul li a:hover,
.mdx-content ol li a:hover,
.mdx-content table a:hover {
  text-decoration: underline;
  color: rgb(var(--primary));
}

.dark .mdx-content span a:hover,
.dark .mdx-content ul li a:hover,
.dark .mdx-content ol li a:hover,
.dark .mdx-content table a:hover {
  text-decoration: underline;
  color: rgb(var(--primary)) !important;
} */

/* links fixes */

a code {
  /* padding: 2px 0; */
  border-bottom-color: none !important;
}
.prose :where(a code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-decoration-color: rgb(var(--primary));
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

/* fixes to cookie banner */
#sidebar {
  z-index: 1;
}

#sidebar-content {
  z-index: 0;
}

.left-0.right-0.sticky.sm\:px-4.pb-4.sm\:pb-6.bottom-0.pt-1.flex.flex-col.items-center.w-full.overflow-hidden.z-20 {
  z-index: 1;
}

#truste-consent-track {
  z-index: 9999999 !important;
  position: fixed !important;
}

.dark #truste-consent-track {
  background-color: #151f26 !important;
  border-color: #1a1a1a;
}

.dark #truste-show-consent {
  background-color: #fff;
  color: #151f26;
}

.dark #truste-consent-text {
  color: #fff;
}

#truste-consent-content {
  max-width: 1400px;
}

/* homepage design adjustments */
.homepage_container .card img {
  max-height: 200px;
}

/* disable breadcrumbs */
header#header .eyebrow {
  display: none !important;
}

/* disable mobile breadcrumbs */
#navbar
  .max-w-8xl.mx-auto.relative
  button
  .ml-4.flex.text-sm.leading-6.whitespace-nowrap.min-w-0.space-x-3.overflow-hidden {
  display: none !important;
}

/* footer link fixes */
footer div.flex.gap-4.flex-col.md\:flex-row.md\:items-center.md\:gap-8.md\:justify-center {
  flex-wrap: wrap;
}

footer div.flex.gap-4.flex-col.md\:flex-row.md\:items-center.md\:gap-8.md\:justify-center a {
  white-space: nowrap;
  text-overflow: clip;
  overflow: visible;
  align-self: start;
  flex-shrink: 0;
  cursor: pointer !important;
}

/* fix navbar logo being squeezed */
.nav-logo {
  min-width: 109px;
}
